@font-face {
    font-family: "spartan";
    src: url("../fonts/spartan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "spartan_bold";
    src: url("../fonts/spartan_bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "noto_sans";
    src: url("../fonts/noto_sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
